@media (max-width: 767px) {
  body {
    background-color: #000;
    text-align: center;
  }

  h1 {
    color: yellow;
    -webkit-text-stroke: 2.5px blue;
    letter-spacing: 5px;
    font-size: 47px;
  }

  .col-xs-9 {
    margin-top: 9px;
  }

  .btn {
    width: 60px;
  }
}

@font-face {
  font-family: "Pokemon Solid";
  src: url("../fonts/pokemonSolid.ttf");
}

body {
  font-family: "Pokemon Solid";
}

h1 {
  font-family: "Pokemon Solid";
}

.red {
  background-color: red;
}

.stats {
  padding-left: 35px;
}

.gray-item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hide {
  display: none;
}
