@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }

  .col-xs-9 {
    margin-top: 9px;
  }

  .btn {
    width: 60px;
  }
}

.stats {
  padding-left: 35px;
}

.gray-item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hide {
  display: none;
}
